.header{
    color: #009973;
}
.LoginOuter {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
}
.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Logo_Img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    height: 85px;
    width:85px;
    margin-bottom: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.Prop_Image{
    border-radius: 10px;
}